.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #FFF9E3
}

#navbar-main {
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

#intro-container {
  width: 100%;
  background: url(../assets/images/intro-bkg-img.png) 50% 0 no-repeat fixed;
  background-size:cover;
  /* background-image: ; */
  background-color: #fff;
  height: 90vh;
  display: grid;
  place-items: center;
  z-index: 0;
}


#intro-modal {
  background: linear-gradient( rgba(255,204,128,.9) 0%, rgba(255,249,227,.9) 40%);
  color: #fff9e3;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 5px 10px 8px  #fff9e3;

}

.modal-title {
  text-align: center; 
  font-size: 15px;
}

#user-container {
  width: 100%;
  background: url(../assets/images/orange.png) 50% 0 no-repeat fixed;
  background-size:cover;
  /* background-image: ; */
  background-color: #fff;
  height: 30vh;
  display: grid;
  place-items: center;
  z-index: 0;
}

#like-button {
background: #ff7f4f;
color: #fff9e3;

}

.return-title {
  color: #ff7f4f;

}

#card-location {
   
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
}

#cards-container {

}
.card-div {
  margin:30px;
  width:auto;
  float:left;
}